html {
    height: 98%;
    width: 98%;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
}
body {
    background: #000;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
    text-align: center;
}
.slideshow {
    height: 100%;
    width: 100%;
    margin: 0px
}
.slide {
    height: auto;
    width: 100%;
    margin: 0px
}
img {
    padding: 0px;
    width: auto;
    max-width: 100%;
    max-width: 100%;
    height: auto;
    text-align: center;
}
