html, body {
    background: #000;
    overflow: hidden;
    height: 99vh;
    width: 99vw;
    text-align: center;
    margin: 0px;
    padding: 0.5vw;
}
.main-container{
    overflow: hidden;
    height:99vh;
    width:99vw;
}
.header {
    color:#FFF; 
    background-color:#000;
}
.slideshow {
    height:80vh;
    width:100vw;
}
.slide {
    height:100vh;
    width:100vw;
}
.slide-img {
    height: auto; 
    width: auto; 
    max-width: 100vw; 
    max-height: 100vh;
}
.slide-img_2 {
    height: auto; 
    width: auto; 
    max-width: 100vw; 
    max-height: 100vh;
}
